.carousel-container{
    height: 500px;
  }
  
  .slide-row{
    padding: 0 10% 0 10%;
    /* fix */
  }

  .prev-icon{
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-right:20px solid #db7c30; 
  }

  .next-icon{
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-left:20px solid #db7c30; 
  }